<template name="about">
  <div class="about-list well col-md-8 col-md-offset-2">
    <ul class="text-danger">
      <li>Speak to gf is a WebRTC peer-to-peer chat application.</li> 
      <li>It uses <a href="http://simplewebrtc.com/" target="_blank">SimplewebRTC library.</a></li>
      <li>It supports Video chat with up to 8 people.</li>
      <li>I created this app mainly to speak with my Girlfriend  but it can be used to speak with any one around the globe..:D.</li>
      <li>Get the code <a href="http://github.com/rajanand02/speak-to-gf" target="_blank">@rajanand02.</a></li>
    </ul>
  </div>
  <div class="push"></div>
</template>
