<template name="chat">
  <div class="col-md-6 col-md-offset-3">
    <h1 id="title">Create a chat room</h1>
    <div class="col-md-10">
      <p id="subTitle"> </p>
    </div>
    <button type="button" class="btn btn-info" id = 'copy'>copy & share</button>
    <form id="createRoom" class="input-group create-form">
      <input id="sessionInput" class="form-control"/>
      <span class="input-group-btn">
        <button type="submit" class="btn btn-info">Get this room</button>
      </span>
    </form>
  </div>
  <div class="col-md-3 pull-right">
    <div class="clock"></div>
  </div>
  <br />
  <div class="col-md-12">
    <div class="col-md-10 col-md-offset-1">
      <div class="col-md-4">
        <a href="/" id="leave" class="btn btn-danger">Leave this room</a>
        <video id="localVideo" style="height: 250px; margin-top: 15px" oncontextmenu="return false;"></video>
        <div id="localVolume" class="volume_bar"></div>
      </div>
      <div id="remotes"></div>
    </div>
  </div>
</template>
