<template name="welcome">
  <div class="col-md-6 col-md-offset-3">
    <h1 class="heading col-md-12">Wanna Speak with your Girlfriend..?</h1>
    <a href="{{pathFor "chat"}}" class="btn btn-warning btn-lg get-room" > Get a Room</a>
  </div>
  <div class="info well col-md-6 col-md-offset-3">
    <ul class="text-danger">
      <li>So you wanna speak with your Girlfriend...?</li>
      <li>Tried Skype, Hangout, etc.. but got frustrated because of slow internet connection...?</li>
      <li>Speak-to-gf got you covered.</li>
      <li>No installation required.</li>
      <li>No sign up.</li>
      <li>No strings attached.</li>
      <li>Simply create a chat room and share the link to get connected.</li>
    </ul>
  </div>
  <div class="push"><!--//--></div>
  <a href="https://github.com/rajanand02/speak-to-gf" target="_blank"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png"></a>
</template>
