
<template name="footer">
  <footer>
    <div class="container">
      <p>Speak-to-gf by <a href="http://github.com/rajanand02/" target="_blank" rel="author">Raj Anand</a>. Uses <a href="http://simplewebrtc.com/" target="_blank" rel="external">Simplewebrtc</a> and <a href="http://bootswatch.com/united/" target="_blank" rel="external">Bootswatch United theme</a>.</p>
    </div>
  </footer>
</template>
